
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPhotoUrlLabel" translate="petStoreApp.photoUrl.home.createOrEditLabel">Create or edit a Photo Url</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.photoUrl.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.photoUrl.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="petStoreApp.photoUrl.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                    ng-model="vm.photoUrl.url"
                     />
        </div>

        <div class="form-group">
            <label translate="petStoreApp.photoUrl.pet_id" for="field_pet_id">Pet Id</label>
            <select class="form-control" id="field_pet_id" name="pet_id" ng-model="vm.photoUrl.pet_id" ng-options="pet as pet.name for pet in vm.pets track by pet.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
